<IfModule mod_rewrite.c>
    RewriteEngine On

    # If it's an existing file, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    # Otherwise, route all requests to index.php
    RewriteRule ^ index.php [L]
</IfModule>
